body {
  padding: 50px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  text-align: center;
  padding: 0px;
  border-spacing: 0px;
}

tr {
  line-height: 8px;
}

p {
  text-align: center;
}
